@media only screen and  (max-width: 75em) {
    h1 {
      font-size: 27px !important;
    }
    html{
      font-size: 75%;
    }
    #welcome-section {
      height: 700px !important;
    }
    h2 {
      font-size: 2.5em !important;
      
    }
    #projects {
      height: 2700px !important;
    }
     
  }
  
  
  @media only screen and  (max-width: 61.25em) {
    h1 {
      font-size: 25.5px !important;
    }
    html{
      font-size: 75%;
    }
    #welcome-section {
      height: 700px !important;
    }
    h2 {
      font-size: 2.5em !important;
      
    }
    #projects {
      height: 2700px !important;
    }
     
  }
  
  
  @media only screen and (max-width: 28.75em) {
    h1 {
      font-size: 25.5px !important;
    }
    html{
      font-size: 75%;
    }
     
    #welcome-section {
      height: 500px !important;
    }
    h2 {
      font-size: 2.5em !important;
      
    }
    #projects {
      height: 2700px !important;
    }
    .nav {
      justify-content: center;
    }
    .nav-list {
      margin: 0 1rem;
    }
    
  }
  * {
    font-family: 'Poiret One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    max-width: 100%;
    max-height: 100%;
    
     
  }
  
  ul {
    display: flex;
    margin-right: 3rem;  
    list-style-type: none; 
  }
  .nav-list a{
    display: block;
    font-size: 1.95rem;
    padding: 1rem;
    color: black;
  
  }
  #navbar {
    background-color: #faf6f1 ;
    width: 100%;
    
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    z-index: 1; 
    top: 0;
    left: 0;
    
   
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
   
  #welcome-div{
    height: fit-content;
  }
   
  
  #welcome-section {
    text-align: center;
    background-color: #faf6f1;
    height: fit-content;
    color: black;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-rows: 40% 30px; 
    max-width: 100%;
    overflow: hidden;
    
     
  }
  h1 {
    font-size: 2.65em !important;
    animation: name 4s infinite;
  }
  /*
  @keyframes name {
    0% {
      color: #ff4949;
      
    }
    25% {
      color: #8c77e4;
    } 
    50% {
      color: #89d9ff;
    }
    75% {
      color: #8c77e4;
    } 
    100% {
      color: #ff4949;
    } 
  }
  */
  
  .underheader {
    position: relative;
    bottom: 530;
    color: black;
    z-index: 0;
    font-size: 1.8em;
  }
  .underheader:hover {
    color: #8fff89;
    transition: .6s;  
  }

  .Logos {
    width: 100%;
    
    
     
  }

  .github-logo{
    font-size: 30px;
    width: 4rem;
    justify-content: center;

  }
  .linkedin-logo{
    font-size: 30px;
    width: 4rem;
    justify-content: center;
     

  }
  .photo-img {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-color: white !important;
    
    
 
  }
  .photo-div {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #faf6f1;
    height: 35rem;
    
  }
  
  h2 {
    color:#e0c5a3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  
  p {
    text-align: center; 
    font-size: 23;
    
  } 
   
  a {
    text-decoration: none;
    color: #e0c5a3;
  }
  .about, .contact {
    background-color:#faf6f1;
    
  }
  h3,h4 {
    
    color:#e0c5a3;
    text-align: center;
    font-size: 1.5em;
    
    
  }
  .about-p-div{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-paragraph{
    width: 65%;
    color: #5c5c5c;
    font-size: 1.35em; 
    font-family: 'David Libre', serif;
  }
   
  
  #about{
    text-align: center !important;
    justify-content: center !important;
    display: grid;
    padding-top: 3em;
    font-size: 1.24em;
  }
  .contact-p {
    color: #5c5c5c;
    font-size: 1.45em;
    padding-top: 10px;
    font-family: 'David Libre', serif;
    
  }
  .email-message {
    display: flex;
    justify-content: center;
    margin-top:10px ;
    
  }
  textarea {
    border-radius: 10px;
    width: 22rem;
    height: 10rem;
    display: grid;
  }
  .email-button {
    display: grid;
    margin-top: 75px;
    width: 4em;
    height: 2em;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    border-style: solid;
    border-color:black;
  }
  .project-tile a:hover {
    color: white;
    transition: .6s;
  }
  
  #project-sections {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  @media (max-width: 30.625em) {
    #projects {
      padding: 6rem 1rem;
    }
    .project-sections {
      grid-template-columns: 1fr;
   }
  }
  .project-tile {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    width: 100%;
    max-width: 1280px; 
    column-gap: 10px;
    row-gap: 1em;
     
  }
  .project-p {
    background-color: black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  #projects {
    background-color: #faf6f1;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10em;
    padding-top: 500px;
    height:fit-content !important;
    
     
  }
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  img {
    display: block;
    width: 100%;
  }
  
  .showall-button {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: black;
    border-style: none;
    color: #e0c5a3;
    font-size: 2rem;
  }
  .button-div {
    justify-content: center;
    display: grid;
  }
 
  button:hover {
    background-color: #faf6f1;
    color: silver;
    transition: .6s;
  }
  button a:hover {
    color: black;
  }
  
  .project-name {
    font-size: 2rem;  
    padding: 2rem 0.5rem;
  }

  


  